# Ігнорувати файли тимчасових робочих директорій
/node_modules
/dist
/.vscode
/.idea

# Ігнорувати файли конфігурації та ключі API
/config.js
/secrets.json
.env

# Ігнорувати файли журналів та файли зберігання локальних даних
/logs/
/db.sqlite

# Ігнорувати файли з розширенням .log та .tmp
*.log
*.tmp

# Ігнорувати файли налаштувань IDE та різні файли проекту
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
